<!DOCTYPE html>
<html>
  <head>
    <title>LeRestaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<!--------------------Carrousel ---------------------->
<div class="main-class"> 
	<div class= "header">Chez Carlitos</div>
	
	<div class="slider">
		<ul>
			<li><%= image_tag 'arepa.jpg', class: "image-model"%></li>
			<li><%= image_tag 'arroz-con-pollo.jpg', class: "image-model"%></li>
			<li><%= image_tag 'cachapa.jpg', class: "image-model"%></li>
			<li><%= image_tag 'pabellon.jpg', class: "image-model"%></li>
		</ul>
		<div class="nav">
			<button data-nav="prev">&lt;</button>
			<button data-nav="next">&gt;</button>	
		</div>
	</div>
</div>

<!-- ----------------Tab ------------------------>

  <div class="container"> <!-- Container for tab -->

	<ul class="tabs"> <!-- Each tab -->
		<li class="tab-link current" data-tab="tab-1">Bienvenid@</li>
		<li class="tab-link" data-tab="tab-2">La Carta</li>
		<li class="tab-link" data-tab="tab-3">La Cuisine</li>
		<li class="tab-link" data-tab="tab-4">À Propos</li>
	</ul>

	<!-- Content of every tab -->
	<div id="tab-1" class="tab-content current">
		 Restaurant et traiteur dédié à la cuisine du Venezuela, arrive pour partager avec vous une expérience culinaire différente. Les bonnes recettes traditionnelles avec une richesse gastronomique intéressante, on se balade dans les régions du Venezuela pour vous montrer un répertoire gastronomique issue du métissage. Un voyage, le partage, la convivialité, cuisine 100% faite maison avec amour et avec les recettes de mamie!
	</div>
	<div id="tab-2" class="tab-content">
		<p><STRONG>Plats</STRONG></p>
		<p>Arepa------------------15€</p>
		<p>Pabellon---------------12€</p>
		<p>Empanada---------------10€</p>
		<p>Cachapa-----------------9€</p>

	</div>
	<div id="tab-3" class="tab-content">
		   La cuisine vénézuélienne est issue du mélange des cultures andines et caribéennes. Cette gastronomie offre une grande variété de saveurs, d’ingrédients et de textures. Elle est une véritable explosion de saveurs dont le sucrée et le salée se marient . 
	</div>
	<div id="tab-4" class="tab-content">
		  Notre team c'est le secret de nos recettes, le travail en équipe et le sourire de tous sans doute font du travail, pas un travail si non ce qu'on aime faire. 
	</div>

</div><!-- container -->


   <!--  <%= yield %> -->
  </body>
</html>